@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

@font-face {
    font-family: "Nunito";
    src:
        url("/assets/fonts/Nunito-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src:
    url("/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

button {
    @apply mx-auto px-6 rounded-full p-4 text-xl uppercase font-bold shadow-lg hover:shadow-md text-slate-800 bg-gradient-to-t from-teal-500 hover:from-green-500 to-teal-400 hover:to-green-400
}
.card {
    @apply bg-gradient-to-t from-slate-700 via-40% via-green-300 via-55% to-teal-300
}

body {
    background-color: #1d1a2a;
    font-family: "Nunito", sans-serif;
}

p {
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
h1 {
    @apply md:text-4xl text-2xl mb-12 font-bold text-slate-800
}

li {
    @apply hover:shadow-lg hover:text-white;
    font-family: "Montserrat", sans-serif;

}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.2s;
}
.slide-left-enter-from {
    opacity: 0;
    transform: translate(50px, 0);
}
.slide-left-leave-to {
    opacity: 0;
    transform: translate(-50px, 0);
}
.slide-right-enter-from {
    opacity: 0;
    transform: translate(-50px, 0);
}
.slide-right-leave-to {
    opacity: 0;
    transform: translate(50px, 0);
}
